body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mt-30 {
  margin-top:30px;
}
.mt-20 {
  margin-top:20px;
}
.mt-10 {
  margin-top:10px;
}
.fa {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.course-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  height: 40vh;
  float: left;
  margin: 10px;
}
.course-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.red {
  color: red;
}
.green {
  color: green;
}